<div class = "centered-content">
  <div class="task-manager-content">

  <div class = "sidebar has-background-white">
    <h1 class = "title has-text-primary">
      Tasks
    </h1>


    <div class = "list-menu">
      <a class = "list-menu-item">
        <p> Task 1 </p>
      </a>

      <a class = "list-menu-item">
        <p> Task 2 </p>
      </a>

      <a class = "list-menu-item">
        <p> Task 3</p>
      </a>

      <a class = "list-menu-item">
        <p> Task 4</p>
      </a>
    </div>


    <button class = "button is-primary "> + New Task </button>

  </div>

    <!-- <div class = "task-list-container has-background-light">
         <h1 class = "title has-text-primary">
           Exercises
         </h1>

      <div class ="exer">
        <p> Shoulder Press</p>
      </div>

      <div class ="exer">
        <p> Arnoldn Press</p>
      </div>


         </div>






    </div> -->
 </div>
