<div class="page">
  <mat-toolbar color="primary">
    <span class="matrix-tool-bar">The Eisenhower Matrix</span>
  </mat-toolbar>
<p class="urgent">Urgent</p>
<p class="not_urgent">Not Urgent</p>
<p class="important">Important</p>
<!-- <p class="importance_description">(7 or higher)</p> -->
<p class="not_important">Not Important</p>
<!-- <p class="not_importance_description">(6 or lower)</p> -->
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>Calculus II Exam</mat-grid-tile>
  <mat-grid-tile>Machine Learning HW</mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>Design Appreciation Quiz 4</mat-grid-tile>
</mat-grid-list>
</div>

<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>

<div>Please open on Stackblitz to see result</div> -->
<mat-card class="importance-card">
  <mat-card-title-group>
    <mat-card-title>Importance</mat-card-title>
    <mat-card-subtitle>Small</mat-card-subtitle>
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    {{"H"}}
  </mat-card-content>
</mat-card>

<mat-card class="urgency-card">
  <mat-card-title-group>
    <mat-card-title>Urgency</mat-card-title>
    <mat-card-subtitle>Medium</mat-card-subtitle>
    <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    {{"longText"}}
  </mat-card-content>
</mat-card>

