<!-- Toolbar -->
<mat-toolbar color="primary">
  <span class="taskListToolBar">Task List</span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  <!-- <button mat-raised-button color="primary"> Add Task </button> -->
  <span class="example-spacer"></span>
  <button class="pagesButton" mat-button [matMenuTriggerFor]="menu">Pages</button>
  <mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/login">Login</button>
  <button mat-menu-item routerLink="/matrix">Matrix</button>
</mat-menu>
</mat-toolbar>

<!-- Menu -->


<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Task Column -->
    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Assignment</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field>
          <input matInput [(ngModel)]="row.task" placeholder="Task name">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Importance Column -->
    <ng-container matColumnDef="importance">
      <!--  -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Importance</th>
      <mat-cell *matCellDef="let row">
        <mat-form-field>
          <mat-select placeholder="1-10" [(ngModel)]="row.importance" >
            <mat-option *ngFor="let val of values" [value]="val">{{ val }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Time Needed Column -->
    <ng-container matColumnDef="timeNeeded">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time Needed</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field>
          <input matInput [(ngModel)]="row.timeNeeded" placeholder="Hours">
        </mat-form-field>
        </td>
    </ng-container>

    <!-- Delegate Column -->
    <ng-container matColumnDef="delegate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delegate</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field>
          <mat-select [(ngModel)]="row.delegate" placeholder="Yes or no">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
        </td>
    </ng-container>

    <!-- Date column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let row; let i = index">
        <mat-form-field>
          <input matInput [(ngModel)]="myDates[i]" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Complete Column -->
    <ng-container matColumnDef="complete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Complete</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field>
          <mat-select [(ngModel)]="row.complete" placeholder="Yes or no">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Completion Time Column -->
    <ng-container matColumnDef="completionTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Completion Time</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.complete === 'yes'">
          <mat-form-field>
            <input matInput [(ngModel)]="row.completionTime" placeholder="Hours">
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="row.complete === 'no'">
        </ng-container>
      </td>
    </ng-container>

    <!-- Action column -->
    <ng-container matColumnDef="save">
      <th class="actionColumn" mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row; let i = index" >
        <button class="save" mat-raised-button color="primary" (click)="logData(row, myDates[i])">Save</button>
        <button class="delete" mat-raised-button color="accent">Delete</button>
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="logData(row, myDates[i])">save</mat-icon> -->
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon> -->
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

      <mat-toolbar>
        <mat-toolbar-row>
          <!-- <mat-icon (click)="exportCsv(dataSource)" title="Export as CSV">save_alt</mat-icon> -->
          <button class="taskButton" mat-raised-button>Add Task</button>
          <span class="example-spacer"></span>
          <mat-paginator class="mat-paginator-container" #paginator
            [length]="dataSource?.data?.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]"
            aria-label="Select page">
        </mat-paginator>
        </mat-toolbar-row>
      </mat-toolbar>
</div>
